
{% for user in allUsers %}

<h4><a href="/users/{{user.id}}">{{ user.name }}</a></h4>

<ul class="user-list">

    userid: {{ user.id }}
    <br>
    has all Departments: {{ user.hasAllDepartments() }}
    <!--
        use user instance methods to check if user has
        - user.hasAllDepartments() (make user box yellow)
        - user.hasNoDepartments()  (all deps crossed out)
        - get userDepartments and display them
    -->

    </ul>
    <button type="submit" name="#">Delete</button>

{% endfor %}
