<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>
    <body>
        <h1><a href="/">Acme Users and Departments Sequelize</a></h1>
        <div class="box">
            <h2> DEPARTMENTS </h2>
            <div class="department-box">
                <!-- form -->
                {% include './_departmentForm.html' %}
                <!-- show all departments -->
                {% include './_departmentList.html'  %}
            </div>
        </div>

        <div class="box">
            <h2> USERS </h2>
            <div class="user-box">
                <!-- form -->
                {% include './_userForm.html' %}
                <!-- show all users incl departments -->
                {% include './_usersList.html' %}
            </div>
        </div>
    </body>
</html>
