<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>
    <body>
        <h1><a href="/">Acme Users and Departments Sequelize</a></h1>

        <div class="box">
            <h2> DEPARTMENTS </h2>
            <div class="department-box">
                <!-- form -->
                {% include './_departmentForm.html' %}

                <!-- show all departments -->
                {% for department in allDepartments %}
                    {% include './_departmentList.html' with { department } %}
                {% endfor %}
            </div>
        </div>

        <div class="box">
            <h2> USERS </h2>
            <div class="user-box">

                {% include './_userForm.html' %}

                <!-- here we want to include the _usersList.html module -->
                {% include './_usersList.html' %}


            </div>
        </div>
    </body>
</html>
