body {
  font-family: Arial;
  padding: 3%;
}

h1 {
    font-family: 'Andale Mono';
    text-align: center;
    text-transform: uppercase;
}

a {
  color: grey;
}

h1 a {
  color: magenta;
}

input {
  height: 3em;
  width: 250px;
  padding: 5px;
}

button {
  height: 3em;
  width: 25%;
  margin: 10px;
}

.box {
  width : 40%;
  padding: 3%;
  float: left;
  border: 1px dotted gray;
}

.user-box, .department-box, .users{
  border: 1px dotted gray;
  padding: 3%;
}

.user-list {
  list-style: none;
}

